<a href="https://colab.research.google.com/github/jayanaik9090/ML_programs/blob/master/Python_programs1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them

In [3]:
first=input("Enter your first name : ")
last=input("Enter your last name : ")
print(last +" "+ first)

Enter your first name : jaya
Enter your last name : M
M jaya

# 2. Write a Python program to calculate number of days between two dates.

In [4]:
from datetime import date
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
d = date2 - date1
print(d.days)

9

# Write a Python program to test whether a passed letter is a vowel or not

In [5]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
char1=input("Enter char ")
char2=input("Enter char2 ")    
print(is_vowel(char1))
print(is_vowel(char2))

Enter charc
Enter char2e
False
True

# Write a Python program to sum of three given integers. However, if two values are equal sum will be zero.

In [7]:
def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum
x=int(input("Enter X value "))
y=int(input("Enter Y value "))
z=int(input("Enter Z value "))
print(sum(x,y,z))

Enter X value 3
Enter Y value 4
Enter Z value 5
12

# Write a Python program to count the number of characters (character frequency) in a string.

In [10]:
string = input("Enter a string: ")
lst1 = []
for char in string:
    if char not in lst1:
        lst1.append(char)
for item in lst1:
    print(item,string.count(item), sep = ": ")

Enter a string: jayalakshmi
j: 1
a: 3
y: 1
l: 1
k: 1
s: 1
h: 1
m: 1
i: 1